@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling with Padding */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px; /* Adjust width */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #2d3748; /* Dark background for the track */
  border-radius: 10px; /* Rounded track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #4a5568; /* Slightly lighter thumb color */
  border-radius: 10px; /* Rounded scrollbar */
  border: 3px solid transparent; /* Adds padding around the thumb */
  background-clip: padding-box; /* Ensures the border is outside the thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #2f855a; /* Hover effect for the thumb */
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(1);
}