@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  0% {
    width: 0; /* Start with no text visible */
  }
  30% {
    width: 10ch; /* Match the width of the text (10 characters here) */
  }
  90% {
    width: 10ch; /* Hold the text fully visible */
  }
  100% {
    width: 0; /* Reset back to no text visible */
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Cursor disappears */
  }
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; /* Hide the text overflow to create the typing effect */
  border-right: 2px solid white; /* Add a solid cursor */
  animation: typing 3s steps(10) infinite, blink 0.75s step-end infinite;
}
